h2 {
  padding-left: 70px;
}

.content-item {
  display: flex;

  &:hover {
    background-color: #f3f3f3;
  }
}

.upvote {
  margin-right: 15px;
  height: 50px;
  min-width: 50px;
  color: red;
  padding: 5px;
}
