/* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small,
figure, aside, table, thead, tbody,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

body {
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

/* seek slider reset */
/* Special styling for WebKit/Blink */
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */ }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both; }

.header-title h2 {
  background-color: red;
  color: white;
  display: flex;
  justify-content: center; }

.form-container {
  width: 100%; }

.search {
  width: 100%;
  display: flex; }

.search-form {
  width: 80%;
  background-color: #f4f4f4;
  padding: 2px 5px; }

.search-button {
  background-color: #2dd07d;
  color: white;
  padding: 2px 20px;
  font-size: .8em;
  border: rgba(15, 91, 29, 0.75);
  border-radius: 0;
  width: 20%; }

.list-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 1em; }

.list-name {
  width: 100%; }
  .list-name:hover {
    cursor: pointer;
    background-color: #f4f4f4; }

.reddit-form {
  margin-bottom: 15px; }

h2 {
  padding-left: 70px; }

.content-item {
  display: flex; }
  .content-item:hover {
    background-color: #f3f3f3; }

.content {
  padding-left: 20px;
  border-left: #f4f4f4 2px solid; }

.upvote {
  margin-right: 15px;
  height: 50px;
  min-width: 50px;
  color: red;
  padding: 5px; }

.main-content {
  display: flex; }

.subreddit-list {
  width: 20%;
  min-width: 200px; }

.content {
  width: 80%;
  margin-left: 50px; }

/*# sourceMappingURL=index.css.map */
